$primary-color: rgb(126, 87, 194);
$transparent-primary-color: rgba(126, 87, 194, 0.5);
$secondary-color: #1D2B3A;
$lighter-secondary-color: rgb(38, 57, 77);
$selection-color: rgb(53, 80, 109);
$warnging-color: #FFBD00;
$error-color: #D62839;
$cancel-color: #BC2C1A;
$font-color: white;
$font-dark-color: #8E959D;
$check-color: #549F93;

$svg-icon-color: invert(99%) sepia(1%) saturate(428%) hue-rotate(265deg) brightness(118%) contrast(100%);