@import 'colors';
@import 'fonts';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .hide-menu {
    img {
      filter: invert(11%) sepia(10%) saturate(3001%) hue-rotate(171deg) brightness(90%) contrast(85%);
      width: 40px;
      margin: 0 20px;
    }
  }

  .title-container {
    display: flex;
    align-items: center;

    img {
      width: 70px;
    }
  }

  .current-date-container {
    margin: 0 20px;
  }

  margin-top: 10px;
  border-radius: 15px;
  border: 2px solid $primary-color;

  grid-row: 1/2;
  grid-column: 1/3;
}