@import 'colors';
@import 'fonts';


#side-bar {
    display: grid;
    grid-template-rows: 60px 208px 60px 1fr;
    height: 100%;

    .home-title,
    .projects-title {
        border-bottom: 2px solid $font-color;
        margin: 10px 0;
    }

    #home-projects-container {
        display: flex;
        flex-direction: column;

        .home-project {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 30px;
                filter: $svg-icon-color;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }

            margin: 10px 0 10px 10px;

        }
    }

    .add-project-container {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: end;
        gap: 10px;
        height: 30px;

        img {
            width: 20px;
            filter: $svg-icon-color;
        }

        margin: 10px 0;
        border-radius: 10px;
        background-color: $primary-color;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }

    #projects-container {

        .project {
            display: flex;
            justify-content: space-between;
            position: relative;

            h6 {
                margin-left: 10px;
            }

            img {
                width: 20px;
                filter: $svg-icon-color;
            }

            .options-container {
                position: absolute;
                gap: 5px;
                top: -15px;
                right: 12px;
                padding: 5px;
                border-radius: 5px;

                .rename-option {
                    margin-bottom: 10px;
                }

                p {

                    &:hover {
                        cursor: pointer;
                        background-color: $selection-color;
                        border-radius: 5px;
                    }
                }

                background-color: $lighter-secondary-color;
            }

            .rename-project-form {
                display: flex;
                flex-direction: column;
                flex: 1;

                .new-form {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    input {
                        display: flex;
                        flex: 1;
                        font-size: 16px;
                    }

                    margin: 5px 0;
                }

                .new-form-buttons {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                }
            }

            &:hover {
                cursor: pointer;
            }

            margin-top: 10px;
            border-radius: 7px;
        }



        &::-webkit-scrollbar {
            background-color: $secondary-color;
            width: 3px;
            margin-left: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $transparent-primary-color;

            border-radius: 15px;
        }

        padding-right: 3px;
        overflow-y: auto;
    }

    #new-project-form {

        .new-form {
            display: flex;
            align-items: center;
            gap: 5px;

            input {
                display: flex;
                flex: 1;
                font-size: 16px;
            }

            margin: 5px 0;
        }

        .new-form-buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        margin:10px 0 0;
    }

    min-width: 268px;
    max-height: 83vh;
    border: 2px solid $primary-color;
    border-radius: 15px;
    padding: 0 5px;
    grid-row: 2/3;
    grid-column: 1/2;
}