@import 'colors';
@import 'fonts';

#task-view-container {
    display: grid;
    grid-template-rows: 1fr 10fr;

    .task-view-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
            margin-left: 10px;
        }

        div {
            margin-right: 10px;
        }

        background-color: $primary-color;
        height: auto;
        margin: 10px 0;
        border-radius: 10px;
        color: $font-color;
    }

    #add-task-container {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: end;
        gap: 10px;

        img {
            width: 20px;
            filter: $svg-icon-color;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }

        max-width: 200px;
        padding: 5px;
        margin: 10px 0;
        border-radius: 10px;
        background-color: $primary-color;
    }

    #task-shower {
        .task {
            display: flex;
            justify-content: space-between;

            .edit-task-form {
                display: flex;
                flex-direction: column;
                flex: 1;
            }

            .left-task-info {
                display: flex;
                align-items: center;
                gap: 10px;

                .task-info {
                    .p-name {
                        font-weight: 700;
                    }
                }

                .completed-button {
                    border-radius: 100%;
                    width: 35px;
                    filter: $svg-icon-color;
                }
            }

            .right-task-info {
                display: flex;
                align-items: center;

                .task-date {
                    border-bottom: 2px solid $primary-color;
                    margin-right: 20px;
                }

                .important {
                    filter: $svg-completed-color;

                }

                img {
                    width: 30px;
                    filter: $svg-icon-color;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .option {
                    height: 25px;
                }

                .task-options-container {
                    padding: 5px;
                    border-radius: 10px;
                    background-color: $primary-color;

                    p {
                        padding: 0 4px;

                        &:hover {
                            cursor: pointer;
                            background-color: $lighter-primary-color;
                            border-radius: 2px;
                        }
                    }
                }
            }

            margin: 10px 5px 0 0;
            padding: 10px;
            border: 2px solid $lighter-secondary-color;
            border-radius: 15px;
        }

        .completed {
            opacity: 0.4;
            text-decoration: line-through;

            .left-task-info {

                .completed-button {
                    border-radius: 100%;
                    width: 35px;
                    background-color: $check-filter-color;
                }
            }
        }

        &::-webkit-scrollbar {
            background-color: $secondary-color;
            width: 3px;
            margin-left: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $transparent-primary-color;

            border-radius: 15px;
        }

        max-height: 100%;

        overflow-y: auto;
    }

    .new-form {
        display: flex;
        flex-direction: column;

        #new-task-desc {
            height: 80px;
            resize: none;
        }

        label {
            margin-top: 5px;
        }
    }

    .new-form-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }

    height: 100%;


    padding: 0 10px;
    max-height: 83vh;
    gap: 10px;
    border: 2px solid $primary-color;
    border-radius: 15px;
    grid-row: 2/3;
    grid-column: 2/3;
}